In [54]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from matplotlib import pyplot as plt
from sklearn.metrics import confusion_matrix

# Data Collection and Processing

In [3]:
# loading .csv data to a Pandas DataFrame
heart_data = pd.read_csv('./heart_disease_data.csv')

In [4]:
print(heart_data)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [5]:
# target column indicates that whether the person at the row has a heart diesase or not.
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
# let's fine number of row and columns
print(heart_data.shape)

(303, 14)

In [8]:
# now let's find whether the dataset has missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
# let's now get some statistical information about our dataframe
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
# how many of target values is 1 and vice-versa
heart_data["target"].value_counts()

1    165
0    138
Name: target, dtype: int64

In [11]:
# 1 --> Defected Heart | 0 --> Normal Heart

# Splitting features and target

In [12]:
X = heart_data.drop(columns="target",axis = 1)
Y = heart_data["target"]
print(X)
print(Y)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

# Splitting data into train and test data

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size= 0.2, stratify=Y, random_state=2)
print (X_train.count())

age         242
sex         242
cp          242
trestbps    242
chol        242
fbs         242
restecg     242
thalach     242
exang       242
oldpeak     242
slope       242
ca          242
thal        242
dtype: int64

In [18]:
# For better understanding of test_size = 0.2
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

# Model Training

In [19]:
# Let's create a logistic regression model
model = LogisticRegression()
model.fit(X_train, Y_train)

/Users/metin_arkanoz/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# Model Evaluation by Scoring

In [25]:
# accuracy for trainig data
X_train_predicted = model.predict(X_train)
X_train_predicted_accuracy = accuracy_score(X_train_predicted,Y_train)
print("ACCURACY ON THE MODEL FOR TRAINING DATA: ",X_train_predicted_accuracy)

ACCURACY ON THE MODEL FOR TRAINING DATA:  0.8512396694214877

In [26]:
X_test_predicted = model.predict(X_test)
X_test_predicted_accuracy = accuracy_score(X_test_predicted,Y_test)
print("ACCURACY ON THE MODEL FOR TEST DATA: ",X_test_predicted_accuracy)

ACCURACY ON THE MODEL FOR TEST DATA:  0.819672131147541

# Prediction for only on feature

In [45]:
# feature definition
feature = np.array([63,1,3,145,233,1,0,150,0,2.3,0,0,1]) # first row from dataset which has '1' as target value
# reshape
feature = feature.reshape(1,-1)
print(feature)

[[ 63.    1.    3.  145.  233.    1.    0.  150.    0.    2.3   0.    0.
    1. ]]

In [57]:
# lets run prediction model for this feature:
result = model.predict(feature)
if(result[0]):
    print("The person has heart disease !")
else:
    print("The person is healthy.")

The person has heart disease !

/Users/metin_arkanoz/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

# Getting coefficients and intercept value of the model

In [51]:
print("Coef(s): ",model.coef_, "\nIntercept: ", model.intercept_)

Coef(s):  [[ 0.00971853 -1.29256419  0.88907121 -0.0120796  -0.00258149 -0.07414082
   0.57790522  0.03402991 -0.90256461 -0.49205001  0.24235801 -0.7938204
  -1.16036256]]
Intercept:  [-4.13368641e-05]

In [64]:
import statsmodels.api as sm 
smlog = sm.Logit(Y_train,sm.add_constant(X_train)).fit()
print(smlog.summary())

Optimization terminated successfully.
         Current function value: 0.329026
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  242
Model:                          Logit   Df Residuals:                      228
Method:                           MLE   Df Model:                           13
Date:                Tue, 07 Feb 2023   Pseudo R-squ.:                  0.5225
Time:                        15:40:10   Log-Likelihood:                -79.624
converged:                       True   LL-Null:                       -166.74
Covariance Type:            nonrobust   LLR p-value:                 2.543e-30
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.3491      3.157      1.061      0.289      -2.838       9.536
age           -0.0060      0.028     -0.217      0.828      -0.061       0.048
sex           -1.9148      0.558     -3.432      0.001      -3.008      -0.821
cp             0.9676      0.223      4.347      0.000       0.531       1.404
trestbps      -0.0154      0.012     -1.333      0.182      -0.038       0.007
chol          -0.0044      0.004     -1.047      0.295      -0.013       0.004
fbs           -0.1574      0.628     -0.251      0.802      -1.388       1.073
restecg        0.6509      0.410      1.586      0.113      -0.153       1.455
thalach        0.0259      0.014      1.911      0.056      -0.001       0.052
exang         -1.2666      0.469     -2.699      0.007      -2.186      -0.347
oldpeak       -0.5019      0.251     -1.997      0.046      -0.994      -0.009
slope          0.3232      0.405      0.798      0.425      -0.470       1.117
ca            -0.8430      0.230     -3.666      0.000      -1.294      -0.392
thal          -1.1350      0.354     -3.207      0.001      -1.829      -0.441
==============================================================================